<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>旅行筆記 by.ChunAn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename="css/index.css" ) }}>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                旅行筆記
            </a>
            <div>
                <a href="/List">
                    <button type="button" class="btn btn-warning">旅行列表</button>
                </a>
                <a href="/Inc1st">
                    <button type="button" class="btn btn-warning">新增旅行</button>
                </a>
            </div>
        </div>
    </nav>
    <header id="header" class="text-center text-white">
        <div class="container">
            <h1>多久沒來場旅行了呢?</h1>
            <p>又多久沒為自己的旅行寫下深刻的回憶紀錄了呢?</p>
        </div>
        <div class="header-cover"></div>
    </header>
    <form class="trip-select" action="/Output">
        <select name="trip-id" class="form-select form-select-lg" aria-label=".form-select-lg">
            <option selected>旅行名稱</option>
            {% for value in values %}
            <option value={{value['_id']}}>{{value['travel']}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="查詢">
    </form>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>